sonar.host.url=%HOST%

sonar.projectName=%PROJECT_NAME%
sonar.projectVersion=%PROJECT_VERSION%

sonar.projectKey=%PROJECT_KEY%

sonar.sourceEncoding=UTF-8
sonar.sources=.
sonar.login=%LOGIN%

sonar.php.tests.reportPath=var/artefacts/report.xml
sonar.php.coverage.reportPaths=var/artefacts/coverage.xml

sonar.gitlab.url=%CI_SERVER_URL%
sonar.gitlab.user_token=%CI_BUILD_TOKEN%

sonar.gitlab.commit_sha=%CI_COMMIT_SHA%
sonar.gitlab.project_id=%CI_PROJECT_ID%
sonar.gitlab.ref_name=%CI_COMMIT_REF_NAME%
sonar.branch.name=%CI_COMMIT_REF_NAME%


sonar.exclusions=**/vendor/**,vendor/**/*,app/**/*,bin/**/*,docker/**/*,var/**/*,web/**/*,public/**/*
sonar.php.exclusions=**/vendor/**,vendor/**/*,app/**/*,bin/**/*,docker/**/*,var/**/*,web/**/*,public/**/*

